<div id="<%= dom_id project %>" class="w-full sm:w-auto my-5 space-y-5">
  <h1 class="inline-block text-4xl"><%= project.name %></h1>

  <%= render StatusBadgeComponent.new(status: project.status) %>

<%= link_to "Edit", edit_project_path(project), class: "w-full sm:w-auto text-center rounded-md px-3 py-2 bg-gray-100 hover:bg-gray-50 inline-block font-small" %>

  <% if @status_changes.any? %>
    <h2 class="text-2xl">Project history</h2>
    <ol>
      <% @status_changes.each do |change| %>
        <li>
          <% if change[:status].respond_to?(:each) %>
            <%= render StatusBadgeComponent.new(status: change[:status][0]) %> ⇢
            <%= render StatusBadgeComponent.new(status: change[:status][1]) %> —
          <% else %>
            <%= render StatusBadgeComponent.new(status: change[:status]) %> —
          <% end %>
          <time><%= change[:created_at] %></time>
        </li>
      <% end %>
    </ol>
  <% end %>

  <% if @comments.present? %>
    <h2 class="text-2xl">Comments</h2>
    <ol>
      <% @comments.each do |comment| %>
        <li>
          <pre><%= comment.content %></pre>
          <time><%= comment.created_at.strftime("%d/%m/%Y %H:%M:%S") %></time>
      <% end %>
    </ol>
  <% end %>

  <h2 class="text-2xl">Add a comment</h2>
  <%= form_with(model: [project, Comment.new], class: "contents") do |form| %>
    <div class="my-5">
      <%= form.text_area :content, rows: 4, placeholder: "Write your comment...", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <%= form.hidden_field :user_id, value: Current.user.id %>
    <%= form.hidden_field :project_id, value: project.id %>

    <div class="inline">
      <%= form.submit "Post comment", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
